<!DOCTYPE HTML>
<html>
	<head>
		<title>BigQuery Guide</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../../assets/css/main.css" />
	</head>

	<!-- Get next and previous pages -->
	<!-- {% for cat in site.category-list %}
		{% assign mypages = site.pages | sort: "order" %}
			{% for pg in mypages %}
				{% for pc in pg.categories %}
					{% if pc == cat and page.title == pg.title %}
						{% assign my_id = site.order %}
						{% assign prev_id = site.order | minus: 1 %}
						{% assign next_id = site.order | plus: 1 %}
					{% endif %}   
				{% endfor %}  
			{% endfor %}  
	{% endfor %}
	{% for cat in site.category-list %}
		{% for pg in mypages %}
			{% for pc in pg.categories %}
				{% if pc == cat and pg.order == prev_id %}
					{% assign prev_page = pg %}
				{% elsif pc == cat and pg.order == next_id %}
					{% assign next_page = pg %}
				{% endif %}   
			{% endfor %}  
		{% endfor %}  
	{% endfor %} -->


	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
                            <header id="header">
                                <a href="{{ site.baseurl }}" class="logo">{{ site.name }}</a>
                                <ul class="icons">
                                    <li><a href="{{ site.github_link }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
                                    <li><a href="{{ site.medium_link }}" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
                                    <li><a href="{{ site.twitter_link }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="{{ site.linkedin_link }}" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                </ul>
                            </header>
                            <section>
                                <div class="content">
                                    <header id="header2">
                                        {% assign cat = page.categories | split: ")" %}
										<div>
											<h1>{{ cat[1] }}: {{ page.title }}</h1>
											<p>{{ page.description }}</p>
										</div>
										<!-- <ul class="icons">
											{% if page.prev_page_title != null and page.prev_page_title != "" %}
												<li><a href="{{ site.baseurl }}{{ page.prev_page_permalink }}" class="button">{{ page.prev_page_title }} <i class="fas fa-arrow-left"></i></a>
												</li>
											{% endif %}
											{% if page.next_page_title != null and page.prev_page_title != "" %}
												<li><a href="{{ site.baseurl }}{{ page.next_page_permalink }}" class="button">{{ page.next_page_title }} <i class="fas fa-arrow-right "></i></a></li>
											{% endif %}
										</ul> -->
                                    </header>
                            </section>
                            <div class="section">
                                <p> {{ content }} </p>
                            </div>
							<footer id="header2">
								<ul class="icons">
									{% if page.prev_page_title != null and page.prev_page_title != "" %}
										<li><a href="{{ site.baseurl }}{{ page.prev_page_permalink }}" class="button"><i class="fas fa-arrow-left"></i>{{ page.prev_page_title }}</a>
										</li>
									{% endif %}
									{% if page.next_page_title != null and page.prev_page_title != "" %}
										<li><a href="{{ site.baseurl }}{{ page.next_page_permalink }}" class="button">{{ page.next_page_title }} <i class="fas fa-arrow-right "></i></a></li>
									{% endif %}
								</ul>
							</footer>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							Last Updated: 4/21/21
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
                                        <!-- iterate through the pages to create side bar -->
                                        {% for cat in site.category-list %}
                                        <li>
											<span class="opener">{{ cat }}</span>
											<ul>
                                            {% assign mypages = site.pages | sort: "order" %}
                                            {% for pg in mypages %}
                                                {% for pc in pg.categories %}
                                                    {% if pc == cat %}
                                                        <li><a href="{{ site.baseurl }}{{ pg.permalink }}">{{ pg.title }}</a></li>
                                                    {% endif %}   <!-- cat-match-p -->
                                                {% endfor %}  <!-- page-category -->
                                            {% endfor %}  <!-- page -->
                                            </ul> 
                                        {% endfor %}
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Giving Feedback</h2>
									</header>
									<p>Have ideas for new modules? Want to propose changes? Or maybe you just want to tell us how awesome BigQuery is!</p>
									<ul class="contact">
										<li class="icon brands fa-github"><a href="#">Open a Github issue</a></li>
                                        <li class="icon solid fa-envelope"><a href="mailto:leighaj@google.com">Send us an email</a></li>                                    
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="../../assets/js/jquery.min.js"></script>
			<script src="../../assets/js/browser.min.js"></script>
			<script src="../../assets/js/breakpoints.min.js"></script>
			<script src="../../assets/js/util.js"></script>
			<script src="../../assets/js/main.js"></script>

	</body>
</html>